<div class="container col-xs-12">
  <%  %>
  <div class="active-session-warning">

  </div>
  <h3>Current Session Number: <%= @sesh_num %></h3>
  <h1 class="content-page-h1"><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}'s Session Log" %>  <!-- Sessions#index --></h1>
  <!-- <p>Find me in app/views/sessions/index.html.erb</p> -->
  <hr>
  <div class="session-summary-table-container col-xs-12 col-sm-8 col-sm-offset-2">
    <table class="session-summary-table table-bordered table-hover table-condensed">
      <tr>
        <th>KPI</th>
        <th>Test test test</th>
        <th colspan="2">Camparative Data Point</th>
      </tr>
      <tr>
        <td>Total Sessions Logged to Date: </td>
        <td>number</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sessions Last 7 Days: </td>
        <td>number</td>
        <td>Prior 7 Day Period: </td>
        <td>number</td>
      </tr>
      <tr>
        <td>Sessions Last 30 Days: </td>
        <td>number</td>
        <td>Prior 30 Day Period: </td>
        <td>number</td>
      </tr>
      <tr>
        <td>Total Weight Lifted to Date: </td>
        <td>number</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total Weight Last 7 Days: </td>
        <td>number</td>
        <td>Prior 7 Day Period: </td>
        <td>number</td>
      </tr>
      <tr>
        <td>Total Weight Last 30 Days: </td>
        <td>number</td>
        <td>Prior 30 Day Period: </td>
        <td>number</td>
      </tr>
    </table>
  </div>
</div>
