/*------------- NEW ----------------*/

#machine_input_new_session_exercise {
  display: none;
  margin: 0 0 20px 0;
}

.non_admin_machine_message {
  font-size: 0.75em;
  color: lighten($site_primary,25%);
  span {
    color: $site_info;
  }
}
