/*------------- INDEX ----------------*/
.saved_set_data_box {
  position: relative;
  display: inline-block;
  color: lighten($site_primary, 0%);
  font-size: 0.8em;
  padding: 5px;
  margin: 0 5px 10px 0;
  border-radius: 2px;
  border: 1px solid lighten($site_primary, 35%);
}

.set_data_weight, .set_data_reps {
  span {
    font-size: 0.6em;
    color: darken($site_primary, 10%);
    font-variant: small-caps;
  }
}

.set_data_reps {
  box-shadow: 0 -5px 0 -4px lighten(rgba(58,130,180,0.5), 20%);
  margin-top: 2px;

}

.save_set_data_total_weight {
  font-size: 0.8em;
  padding: 5px 5px 5px 5px;
  margin: 10px 0;
  border-top: 2px dotted $site_primary;
}

.cursor_pointer {
  cursor: pointer;
}

.latest_set_marker {
  color: $site_success;
  margin-left: 10px;
}

.last_saved_set_marker {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: $site_success;
  right: -5px;
  top: -5px;
  border-radius: 4px;
  z-index: 50;
  border: 2px solid lighten($site_background, 7%);
}

.last_saved_set_border {
  border: 1px solid lighten($site_success, 40%);
}

.exercise_set_container {
  background-color: lighten($site_background, 7%);
  background: linear-gradient(165deg, lighten($site_background, 5%) 0%, darken($site_background, 5%) calc(53% * 0.99), darken($site_primary, 44%) 53%, darken($site_primary, 53%) 80%, lighten($site_background, 5%) 100%);

  //margin: 40px 0;
  border-radius: 2px;
  padding: 10px 10px 20px 10px;
  box-shadow: inset 0 0 0 1px darken($site_primary, 0%), 0 0 0 1px darken($site_primary, 20%);
  margin-bottom: 30px;
}


.exercise_set_marker {
  //margin-bottom: 30px;
}

.sesion_set_add_new_exercise_btn {
  margin: 20px 0 0 20px;
}

.sesion_set_add_new_set_btn {
  margin: 0 0 0 10px;
}

.total_weight_calculation_reminder {
  font-size: 0.8em;
  margin-top: 30px;
  padding: 0 50px;
  font-style: italic;
}

.session_set_list_block {
  box-shadow: -1px 0 0 $site_primary;
}

.session_set_index_machine_name {
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
  font-size: 0.85em;
  img {
    margin: 0 5px 0 0;
  }
}

.prior_set_message {
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
  font-size: 0.85em;
  color: #b8d5e8;
  img {
    margin: 0 5px 0 0;
  }
}
.session_set_index_exercise_name {
  margin: 0 0 10px 0;
}

.exercise_toggle_container {
  display: flex;
  position: relative;
}

.exercise_toggle {
  transition: all ease-in-out 100ms;
  cursor: pointer;
  width: 50%;
  max-width: 107px;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 50% 10px;
  border-top-right-radius: 50% 10px;
  box-shadow: inset 0 0 0 1px $site_primary;
}

.exercise_toggle.active {
  background-color: $site_primary;
  box-shadow: inset 0 0 30px darken($site_primary, 20%);
  color: $site_background;
  text-shadow: 0 calc(1px * 0.66) 0 lighten($site_primary, 10%);
}

.prior_saved_exercise {
  display: none;
}

/*------------- NEW ----------------*/

#machine_input_new_session_set, #pulley_input_new_session_set {
  display: none;
  margin: 0 0 20px 0;
}

.non_admin_machine_message {
  font-size: 0.75em;
  color: lighten($site_primary,25%);
  span {
    color: $site_info;
  }
}


// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  transition: none !important;
  li, li:hover,  {
    background-color: #FFF !important;
    border-top: solid 1px #DDD !important;
    margin: 0px !important;
    padding: 0 !important;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    div {
      padding: 5px !important;
      border: none;
      &:hover {
        padding: 5px !important;
        border: none;
      }
    }
  }
}


// <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none; width: 350px; top: 192.717px; left: 463.483px;">
// <li class="ui-menu-item">
// <div id="ui-id-2" tabindex="-1" class="ui-menu-item-wrapper">Bench Press: Decline Low - Barbell</div></li>


