html {
  background: $site_primary;
}

body {
  // padding: 0 0 50px 0;
}

div, p, i, li, th, td, span, ul, ol, button, input, tr, a {
  transition: all ease 400ms;
}

h1, h2, h3, h4, h5, h6 {
  i {
    margin: 0 5px 0 0;
  }
}

h1 {
  font-size: 2.2em;
  margin: 12px 0 10px 0;
}
h2 {
  font-size: 1.8em;
  margin: 10px 0 8px 0;
}
h3 {
  font-size: 1.5em;
  margin: 8px 0 6px 0;
}
h4 {
  font-size: 1.2em;
  margin: 6px 0 4px 0;
}
h5 {
  font-size: 1em;
  margin: 4px 0 2px 0;
}
h6 {
  font-size: 0.9em;
  margin: 0;
}

hr {
  border-top: 1px solid darken($site_primary, 5%);
}

th {
  text-align: center;
}

select {
  border-radius: 1px !important;
  -webkit-appearance: none;
  -moz-appearance:none;
}

.content-page-h1 {
  font-size: 1.75em;
}

.brand_font {
  font-family: "Tron", "Raleway", "Helvetica", "sans-serif";
}


.desktop_flash_position {
  position: absolute;
  z-index: 1000;
}

.container {
  padding: 0 0 15px 0;
  /* Making space for mobile navbar */
}

.contrast_buzzword {
  color: lighten($site_info, 5%);
  opacity: 0.8;
  &:hover {
    opacity: 1;
    color: darken($site_info, 5%);
  }
}

.tr_flash_close {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.simple_form_select_arrow::after {
  color: $site_primary;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  height: 39px;
  width: 29px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  z-index:1;
  font-size:1.35em;
  left: 0;
  margin-left: 25px;
  margin-top: 31px;
  padding-bottom: 5px;
  content: "⧨";
}

.form-group {
  input, small, select, div {
    margin: 0 0 0 10px;
    width: calc(100% - 10px)
  }
  input[type=checkbox] {
    margin: 0 0 0 10px;
    width: inherit;
    height: 20px;
    width: 20px;
  }
  select {
    padding-left: 25px;
  }
  input, select {
    border-top-left-radius: 5px 50% !important;
    border-bottom-left-radius: 5px 50% !important;
    border-bottom-right-radius: 5px 50% !important;
    border-top-right-radius: 5px 50% !important;
  }
}

.tr_add_new_box_right {
  position: relative;
  text-align: right;
  padding: 10px 30px 0 0;
  i {
    color: lighten($site_primary, 20%);
    background-color: $site_background;
    padding: 3px;
    position: fixed;
    z-index: 995;
    font-size: 40px;
    //border: calc(1px * 1.5) solid black;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $site_primary;
  }
}












