/*------------- INDEX ----------------*/



.session-summary-table-container {
}

.session-summary-table {
  width: 100%;
  font-size: 0.9em;
  th {
    background: $site_primary;
    color: black;
  }
  tr {
    :first-child {
      text-align: right;
    }
    :nth-child(2n) {
      text-align: center;
    }
  }
}

.training_session_index_active_notice {
  color: $site_success;
  margin: 0 0 0 10px;
}


/*------------- NEW ----------------*/


.session_strategy_dropdown_arrow {
  position: relative;
  top: 8px;
  left: 5px;
  font-size: 1.75em;
}

#session_strategy_info_box {
  font-size: 0.8em;
  color: lighten($site_primary, 20%);
  margin-top: 20px;
}

.reveal_caret {
  font-size: 1.5em;
}

#session_strategy_info_button {
  font-size: 0.75em;
}

/*------------- INDEX ----------------*/

.session_history_list {
  list-style: none;
  li {
    position: relative;
    li {
      color: lighten($site_primary, 15%);
      font-size: 0.9em;
    }
  }
}

.session_history_bullet {
  // position: absolute;
  // left: -30px;
  margin: 0 13px 0 0;
  img {
    margin: 0 5px 0 0;
    opacity: 0.75;
  }
}

.session_history_bullet:hover {
  color: lighten($site_primary, 30%) !important;
  img {
    opacity: 1;
  }
}


/*------------- SHOW ----------------*/

.set_order_marker {
  position: absolute;
  height: 18px;
  width: 18px;
  line-height: 20px;
  font-size: 10px;
  background-color: lighten($site_background, 7%);
  box-shadow: inset 0 0 0 1px darken($site_success, 20%);
  color: darken($site_success, 20%);
  right: -7px;
  top: -11px;
  text-align: center;
  border-radius: 4px;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid lighten($site_background, 7%);
  cursor: pointer;
}

.set_order_marker_explained {
  position: absolute;
  padding: 2px 4px;
  height: 18px;
  line-height: 20px;
  font-size: 10px;
  background-color: lighten($site_background, 7%);
  box-shadow: inset 0 0 0 1px darken($site_success, 20%);
  color: darken($site_success, 20%);
  text-align: center;
  border-radius: 2px;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.training_session_summary_table_container {
  border-radius: 5px;
  border: 1px solid $site_primary;
  overflow: hidden;
  margin-bottom: 30px;
}

.training_session_summary_table {
  width: 100%;
  // border: 1px solid $site_primary;
  color: lighten($site_primary, 20%);
  background: linear-gradient(165deg, darken($site_primary, 28%) 0%, darken($site_primary, 38%) 45%, darken($site_primary, 38%) 55%, darken($site_primary, 28%) 100%);
  td {
    padding: 5px;
    width: 50% !important;
  }
}

.training_session_summary_key {
  text-align: right;
  font-variant: small-caps;
  max-width: 50%;
}

.training_session_summary_value {
  color: lighten($site_primary, 35%);
}

.back_to_link {
  margin: 10px 0 10px 0;
  img {
    opacity: 0.9;
  }
}

.back_to_link:hover {
  img {
    opacity: 1;
  }
  a {
    color: lighten($site_primary, 30%) !important;
  }
}

/*------------  calendar_viewer_table  -----------------*/


.calendar_viewer_table {
  width: 100%;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  // border: 1px blue solid;
  box-shadow:
    0 0 0 2px $site_background,
    calc(-1px * 0.5) calc(-1px * 0.8) 0 2px lighten($site_primary, 20%),
    0 0 0 calc(3px * 1.15) darken($site_primary, 25%);
  tr > th {
    border-radius: 2px;
    position: relative;
    width: calc(100% / 7);
    padding-top: calc(100% / 7);
    color: $site_background;
    background-color: darken($site_primary, 10%);
    box-shadow:
      inset 0 0 0 calc(1px * 0.75) $site_background,
      inset 0 2px 0 -1px lighten($site_primary, 8%),
      inset -10px -15px 40px rgba(0, 0, 0, 0.4);
    text-shadow: 0 calc(1px * 0.6) 0 lighten($site_primary, 7%);
    // background: linear-gradient(165deg, darken($site_primary, 28%) 0%, darken($site_primary, 38%) 45%, darken($site_primary, 38%) 55%, darken($site_primary, 28%) 100%);
    div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      margin-top: calc(50% - 9px);
    }
  }
  tr > th:nth-of-type(1) {
    border-top-left-radius: 4px;
  }
  tr > th:nth-of-type(7) {
    border-top-right-radius: 4px;
  }
  tr > td {
    border-radius: 2px;
    box-shadow:
    inset 0 0 3px calc(1px * 0.75) lighten($site_background, 7%);
  }
}
// rgba(37,210,0,1);
.day_hover {
  border-radius: 50% !important;
  box-shadow:
    inset 0 0 1px calc(1px * 0.8) rgba(37,210,0,1),
    inset 0 0 0px calc(1px * 3) lighten($site_background, 0%),
    inset 0 0 3px calc(1px * 3.8) rgba(37,210,0,.7)
    !important;
}

.calendar_contianer {
  h3 {
    // text-align: center;
  }
}

.not_current_month {
  color: red;
}

.day_box {
  position: relative;
  width: calc(100% / 7);
  padding-top: calc(100% / 7);
}

.day_content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: calc(50% - 15px);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.todays_box {
  box-shadow: inset 0 0 1px 1px $site_success !important;
}

.not_current_month_box {
  box-shadow: inset 0 0 0 calc(1px * 0.5) lighten($site_background, 7%) !important;
}

.not_current_month_content {
  display: none;
}

.training_session_name_display {
  text-align: center;
  padding: 10px 0;
}

