<div class="footer_contianer">
    <div class="row">

      <div class="col-xs-12 col-md-3 hidden-md hidden-lg hidden-xl">
        <!-- center column mobile -->
        Copyright © <%= "#{Time.now.strftime("%Y-%m-%d")}" %><br>
        by Brian Welch.<br>
        All rights reserved.
      </div>

      <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl"><hr></div>

      <div class="col-xs-12 col-md-3">
        <!-- left column -->
          <p class="reverse_indent">
            <i class="far fa-question-circle"></i> Are you a personal trainer or experienced fitness enthusiast that wants to help test to this beta launch?
          </p>
          <p>
            <%= link_to "Contact admin", "#", class: "contrast_buzzword" %> for information!
          </p>
      </div>

      <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl"><hr></div>

      <div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
        <!-- center column desktop -->
        Copyright © <%= "#{Time.now.strftime("%Y-%m-%d")}" %> by Brian Welch.<br>
        All rights reserved.
      </div>

      <div class="col-xs-12 col-md-3">
        <!-- right column -->
        <span>right/bottom column</span>
      </div>

    </div>
</div>
