
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <!-- <i class="fa fa-bars dropdown-toggle"></i> -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to root_path, class: "nav-home-link" do %>
      <span class="brand_font_nav"><i class="fas fa-home"></i><span style="">TR</span></span>
    <% end %>
  </div>

