<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="brand_font_nav">MY TR</span> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li> <%= link_to "Dashboard", my_tr_path %> </li>
        <li> <%= link_to "My Sessions", training_sessions_path %> </li>
        <% if active_session? %>
          <li role="separator" class="divider"></li>
          <li> <%= link_to "Active Session's Saved Sets", session_exercises_path %></li>
          <li> <%= link_to "Add a Set to Current Session", new_session_exercise_path %></li>
        <% else %>
        <% end %>
        <li role="separator" class="divider"></li>
      </ul>
    </li>
  </ul>
<% else %>
<% end %>
