
<div class="tr_repo-navbar tr_repo-mobile-navbar hidden-sm hidden-md hidden-lg hidden-xl">
  <nav class="">
    <div class="container-fluid">

      <%= render 'shared/home_button_mobile_button_navigation' %>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

        <%= render 'shared/left_navigation' %>

        <%= render 'shared/right_navigation' %>

      </div>
    </div>
  </nav>
</div>
