<div class="">
  <!-- Logo -->
  <%= link_to root_path, class: "" do %>
    <h4>Home link</h4>
  <% end %>

  <!-- Right Navigation -->

    <% if user_signed_in? %>
      <h4>You're signed in asshole</h4>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "" %>
    <% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">LINK</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

