<div class="hidden-sm hidden-md hidden-lg hidden-xl">

        <div class="timer_clock_container">
          <div class="timer_button_box">
            <%= image_tag "logo_and_branding/tr_timer_a.svg", width: "44", id: "stopwatch_toggle" %>
          </div>
          <div id="session_timer_outer">
            <div id="session_timer_inner">
              00:00:00
            </div>
          </div>
        </div>

</div>

<script type="text/javascript">
    var s = <%= initial_session_timer(@current_session).sec %>;
    var m = <%= initial_session_timer(@current_session).min %>;
    var h = <%= initial_session_timer(@current_session).hour %>;
</script>
