<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="logo-centerer">
      <div>
        <%= image_tag "logo_and_branding/tran_logo_c_450x450.png", style: "" %>
      </div>
    </div>
    <h1 align="center"><span class="brand_font">TRAINING REPO</span> <span style="font-family: 'Courier New', Courier, monospace; font-size: 22px; position: relative; bottom: 7px;">[beta]</span></h1>
  </div>
</div>
