<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <div class="logo-centerer">
      <div>
        <%= image_tag "tran_logo_c_450x450.png", style: "" %>
      </div>
    </div>
    <h1>What is <span class="brand_font">TRAINING REPO</span>?</h1>
    <p>
      <span class="brand_font">TR</span> is a basic strength training workout log app where you can enter the sets & reps data for your workouts and you can then analyze your progress on some specific matrices.
    </p>
    <p>Including:
      <ul>
        <li>1RM Tracking</li>
        <li>Total Weight Lifted</li>
        <li>Total Power Output</li>
        <li>Body Weight (if that's your bag)</li>
        <li>More on the way...</li>
      </ul>
    </p>
    <hr>
    <h2>What <span class="brand_font">TRAINING REPO</span> is <em>NOT</em>.</h2>
    <p>
      <span class="brand_font">TR</span> is not the be-all, end-all workout app, nore is it for everyone. <span class="brand_font">TR</span> is not some form of virtual personal trainer which will prescribe your routine for you. It was designed by me and for me; and I thought perhaps there are others like me that might benefit.
    </p>
    <hr>
    <h2><span class="brand_font">TRAINING REPO</span> Gen-1.</h2>
    <p>
      Gen-1 is essentially a replacement for a pen and paper workout log. the added bonus is built-in dashboards and charts tracking progress.
    </p>
    <p>Gen-2 will include smarter information such as real-time workout tracking progress, comparative matrices to help guide workouts, and even routine selectors.</p>
    <p>Gen-3 is as yet undefined. Such improvements could be a social media integrations and even real-time, virtual workout partners....  who knows</p>
  </div>
</div>
