/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  right: 0;
  button > span{
    color: white !important;
    opacity: 1 !important;
  }
}
.alert-info {
  background: $site_success;
}
.alert-warning, .alert-danger {
  background: $site_danger;
}

