.wo_log-navbar {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background: $site_primary;
  color: $site_background;
  padding: 0 20px;
  a {
    color: darken($site_primary, 25%);
  }
  span.icon-bar {
    background-color: darken($site_primary, 25%) !important;
  }
}

.brand_font_nav {
  font-family: "Tron", "Raleway", "Helvetica", "sans-serif";
  text-shadow: 0 1px 0 rgba(58, 185, 220, 0.75);
}

.dropdown {
  a > span.brand_font_nav {
    text-shadow: 0 0.02em 0 rgba(0, 0, 0, 0.95), 0 0.06em 0 rgba(58, 185, 220, 1);
  }
}

.nav-home-link {
  margin: 0 15px 0 0 !important;
  position: relative;
  top: 10px;
  span {
    font-size: 30px;
    line-height: 30px;
  }
  i {
    margin: 0 5px 0 0;
  }
}


.singup_login_navbar_divider {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  line-height: 25px;
  position: relative;
  display: block;
  color: #1b3c54;
  padding: 10px 15px;
}
